.game {
	height: 70vh;
	display: flex;
	gap: 1rem;
	flex-direction: column;
	justify-content: center;
}

.autoplay {
	text-align: center;
}

.cardRow {
	display: flex;
  gap: 1rem;
  flex: 1;
  max-height: 250px;
  justify-content: space-between;
}