@import 'styles';

.inputContainer {
  position: relative;
  &.withHT {
    height: 92px;
  }
}

.input,
.checkmark {
  width: 100%;
  display: block;
  padding: 0.5em 1em;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  border-radius: 3px;
  border: none;

  &.light {
    background-color: $inputLight;
  }

  &.dark {
    background-color: $inputDark;
  }

  &.danger::placeholder {
    color: $danger;
  }
}

.input[type='checkbox'] {
  height: 35px;
  margin-top: 0;
  margin-bottom: 0;
  opacity: 0;
  cursor: pointer;

  &:focus-visible~.checkmark {
    outline: -webkit-focus-ring-color auto 1px;
  }
}

.checkmark {
  position: absolute;
  top: 0;
  right: 0;
  height: 35px;
  width: 70px;
  color: $textLight;
  text-align: center;
  pointer-events: none;
}

.helperText {
  margin: 0;
  padding: 0.3em;
  color: $danger;
}
