@import 'styles';

.button {
  position: relative;
  padding: 0.2em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  background-color: transparent;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $danger;
  }

  &.light {
    color: $textLight;

    &:hover {
      color: $textDark;
    }
  }

  &.dark {
    color: $textDark;
  }

  &:active {
    background-color: rgba($danger, 0.7);
  }

  & > svg {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 2.1875rem;
    flex-shrink: 0;
    user-select: none;
  }
}
