.rating {
  border: 2px solid #000;
  border-radius: 5px;
}

.header {
  display: flex;
  width: 100%;
  font-size: 1.2rem;
  border-bottom: 2px solid #000;
}

.header span {
  flex: 1;
  padding: 0.5rem;
}

.player {
  display: flex;
  width: 100%;
}

.player span {
  flex: 1;
  padding: 0.5rem;
}

.player:not(:last-child) {
  border-bottom: 2px solid #000;
}

.current {
  background-color: rgba(255, 255, 255, 0.5);
}
