@import 'styles';

.table {
  width: 90vw;
  max-width: 800px;
  border: 2px solid;
  border-radius: 3px;
}

.tableHeader,
.tableRow {
  display: flex;
  width: 100%;

  & span {
    padding: 0.5rem;

    &:first-child {
      width: 100px;
    }

    &:not(:first-child) {
      flex: 1;
    }
  }
}

.tableHeader {
  font-size: 1.2rem;
  border-bottom: 2px solid;
}

.tableFooter {
  display: flex;

  & > *:not(:last-child) {
    margin-right: 10px;
  }

  & .backwardButton {
    justify-self: flex-start;
  }

  & .forwardButton {
    margin-left: auto;
    justify-self: flex-end;
  }
}

.tableRow {
  &:not(:last-child) {
    border-bottom: 2px solid;
  }

  &.current {
    background-color: rgba($danger, 0.5);
  }
}
