/* https://codepen.io/kathykato/pen/gOOjgmP */

.Button {
  margin: 0.3em;
	width: 100%;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: #000;
  padding: 1em 2em;
  background: #fff;
  border: 2px solid #555;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}
.Button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #eee;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #555, 0 0.625em 0 0 #777;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
.Button:hover {
  transform: translate(0, 0.25em);
}
.Button:hover::before {
  box-shadow: 0 0 0 2px #555, 0 0.5em 0 0 #777;
  transform: translate3d(0, 0.5em, -1em);
}
.Button:active {
  transform: translate(0em, 0.75em);
}
.Button:active::before {
  box-shadow: 0 0 0 2px #555, 0 0 #777;
  transform: translate3d(0, 0, -1em);
}
.Button:disabled {
	cursor: not-allowed;
}