$danger: #9d3f46;

$bgLight: #d2a4e0;
$bgDark: #302733;

$textLight: #333;
$textDark: #eee;

$boxShadowLight: hsla(0, 0%, 30%, 0.3);
$boxShadowDark: hsla(285, 13%, 0%, 0.3);

$inputLight: #fff;
$inputDark: #eee;

$cardLight: #fff;
$cardDark: #333;

$menuButtonBgColorLight: $inputLight;
$menuButtonHoverBgColorLight: $inputDark;

$menuButtonBgColorDark: #eee;
$menuButtonHoverBgColorDark: #ddd;