.gameControls {
  padding: 15px 10px 0;
  width: 100%;
  max-width: 1024px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1.6rem;
  width: 100%;
}

.buttonGroup {
  & > *:not(:last-child) {
    margin-right: 10px;
  }

  @media (max-width: 600px) {
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.level {
  margin-left: 10px;
  margin-right: auto;
}

.timer {
  margin-right: 20px;
}
