@import 'styles/';

.loginContainer {
  width: 300px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  & .loginButton {
    height: 51px;
  }
}

.inputContainer {
  width: 80%;
  height: 92px;

  & .input {
    display: block;
    padding: 1em 2em;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    border: 0;
    border-radius: 3px;
    outline: none;

    &.light {
      background-color: $inputLight;
    }

    &.dark {
      background-color: $inputDark;
    }

    &.danger::placeholder {
      color: $danger;
    }
  }

  & .helperText {
    padding: 0.3em;
    color: $danger;
  }
}

.buttonGroup {
  display: flex;
  width: 300px;
  flex-direction: column;
  align-items: center;
  font-weight: normal;

  & > *:not(:last-child) {
    margin-bottom: 1em;
  }
}

.separator {
  width: 100%;
  line-height: 2em;
  text-align: center;
  font-family: $notoSansJS;
  color: $danger;
}
