@import 'styles/';

.menu {
  margin: 25vh auto;
  width: 30%;
  min-width: 200px;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  font-weight: normal;
  line-height: 1em;
}

.loginContainer {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  & .loginButton {
    height: 51px;
  }
}

.inputContainer {
  width: 80%;
  height: 92px;

  & .input {
    display: block;
    padding: 1em 2em;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    border: 0;
    border-radius: 3px;
    outline: none;

    &.light {
      background-color: $inputLight;
    }

    &.dark {
      background-color: $inputDark;
    }

    &.danger::placeholder {
      color: $danger;
    }
  }

  & .helperText {
    padding: 0.3em;
    color: $danger;
  }
}

:global(.MuiSvgIcon-root).logoSvg {
  width: 1.4em;
  height: auto;
}

.separator {
  font-family: $notoSansJS;
  color: $danger;
}

.footer {
  position: absolute;
  bottom: 0.3rem;
  transform: translateX(-50%);
  left: 50%;

  & a {
    text-decoration: none;
    color: $danger;
  }
}

@media (max-width: 600px) {
  .footer {
    font-size: 0.8rem;
  }
}
