.menu {
  margin: 25vh auto;
  width: 30%;
  min-width: 200px;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
	font-weight: normal;
  line-height: 1em;
}

.inputContainer {
  width: 100%;
  height: 80px;
}

.helperText {
  padding: 0.3em 2em;
  color: #9D3F46;
}

.input {
  display: block;
	padding: 1em 2em;
  width: 100%;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	background-color: #fff;
  border: 2px solid #555;
  border-radius: 0.75em;
}

.input:focus {
  outline: none;
}

.inputDanger {
  border: 2px solid #9D3F46;
}