@import 'styles/';

.card {
  margin: 0.1em;
  font-size: 60px;
  max-height: 230px;
  flex: 1;
  transform: scale(1);
  animation: appear 0.5s ease-in;
  transition: transform 0.1s ease-in-out;

  &:hover:not(.opened) {
    transform: scale(1.05);
  }

  @media (max-width: $screen-lg) {
    font-size: 5vmax;
  }

  @media (max-width: $screen-md) and (orientation: landscape) {
    font-size: 3vmax;
  }
}

.innerCard {
  width: 100%;
  height: 100%;
  padding: 0.15em;
  position: relative;
  border-radius: 0.15em;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: transform 0.5s ease-in-out;

  &.light {
    background-color: $cardLight;
    color: $cardLight;
    box-shadow: 2px 2px 0.1em 3px $boxShadowLight;
  }

  &.dark {
    background-color: $cardDark;
    color: $cardDark;
    box-shadow: 2px 2px 0.1em 3px $boxShadowDark;
  }

  &.opened {
    transform: rotateY(180deg);

    &.light {
      box-shadow: -2px 2px 0.1em 3px $boxShadowLight;
    }

    &.dark {
      box-shadow: -2px 2px 0.1em 3px $boxShadowDark;
    }
  }
}

.cardCover,
.cardFace {
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  border-radius: 0.2em;
}

.cardCover {
  width: 100%;
  height: 100%;
}

.cardFace {
  position: absolute;
  margin: 0.2em;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: rotateY(180deg);

  & .pattern {
    font-family: $notoSansJS;
  }
}

@keyframes appear {
  0% {
    transform: scale(0.8);
    opacity: 0.5;
  }
  70% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
