@import 'styles';

.App {
  position: fixed;
  top: 0;
  left: 0;
  user-select: none;
  width: 100%;
  height: 100%;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

  &.light {
    background-color: $bgLight;
    color: $textLight;
  }

  &.dark {
    background-color: $bgDark;
    color: $textDark;
  }
}

.wrapper {
  margin: 0 auto;
  padding: 0 1.5rem;
  max-width: 1024px;
}
