.App {
  position: fixed;
  top: 0;
  left: 0;
  user-select: none;
  width: 100%;
  height: 100%;
  background-color: #f8ebc6;
  color: #000;
}

.wrapper {
  margin: 0 auto;
  padding: 0 1.5rem;
  min-width: 500px;
  max-width: 1024px;
}