.button {
  position: relative;
  cursor: pointer;
  padding: 0.2em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}

.button:hover {
  position: relative;
  background-color: #fff;
  border-radius: 0.2em;
}

.button:hover::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #eee;
  border-radius: inherit;
  box-shadow: 0 0.1em 0.1em 0 hsla(0, 0%, 30%, 0.3);
  transform: translate3d(0, 0.25rem, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.button:active {
	transform: translate(0em, 0.25rem);
}

.button:active::before {
	box-shadow: 0 0 hsla(0, 0%, 30%, 0.3);
	transform: translate3d(0, 0, -1em);
}